# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store

# local env files
.env*.local

# typescript
*.tsbuildinfo
.vercel

# Android Emulator
.android/
*.avd/
android/metrics/
android/local.properties

# Windows System Files
AppData/
INetCache/
**/User Data/**
**/Chrome/**
**/Cache/**
**/Cache_Data/**
**/GrShaderCache/**
Temp/
*.tmp
NTUSER.*
ntuser.*

# System Directories (Windows)
../../../AppData/
../../../Temp/
../../../Downloads/
../../../Desktop/
../../../Documents/
../../../Pictures/
../../../Videos/
../../../Music/
../../../OneDrive/
../../../Contacts/
../../../Favorites/
../../../Links/
../../../Searches/
../../../Saved Games/
../../../My project*/
../../../.android/
../../../.gradle/
../../../.config/
../../../.local/
../../../.cursor/
../../../.expo/
../../../.aws/
../../../.vscode/
../../../.kiro/
../../../AndroidStudioProjects/

# IDE
.idea/

# Scripts locais (Windows)
*.bat
*.ps1

# Dados sensíveis / Temporários
Facebook/
teste/